# Kafka Broker Connection
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC_CHECKOUT=checkout_events

# Generation Interval (in milliseconds)
MOCK_DATA_INTERVAL_MS=200

# Operating Mode: normal | anomaly
ICESTREAM_MODE=normal
